@font-face {
    font-family: "H2";
    src: local("Heading"), url("./assets/Colors.ttf");
}
@font-face {
    font-family: "numbers";
    src: local("Heading"), url("./assets/numbers.ttf");
}
.slideh{
    font-family: "numbers";
    font-size: 2em;
    text-align: center;
}

input[type=number] {
    -moz-appearance:textfield;
}
input{
    text-align: center;
    border-radius: 10px;
    border: 2px 2px black solid;
    box-shadow: 1px 1px 1px 1px black;
    font-family: numbers;
    outline-color:;
}
.sliders{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}
.slide{
    appearance: none;
    background-color: black;
    height: 10px;
    border-radius: 10px;
}
.slide::-moz-range-thumb{
    height: 20px;
    border-radius: 50%;
    width: 11%;
    background: yellow;
}
.slide:hover{
    cursor: pointer;
}
.compound{
    min-width: fit-content;
}